<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="addnew">
		<center>Start making your own groups!</center>
		<form method="post" action="/">
			<fieldset>
			<ul>
				<label> 
					<input type="text" name="groupname" value="Group Name" required>
				</label></ul>
				<ul>
				<label> 
					<input type="text" name="membername" value="Member name" required>
				</label></ul>
				<ul>
				<label>
					<input type="text" name="number" value="Number (e.g. 123456789)" required>
				</label></ul>
				
				<ul>
				<label>
					<input type="submit" name="button" class="button" value="Submit"></label></ul>
			</fieldset>
		</form>
	</div>

	<div class = "groups">
		<center>Your groups!</center>
		</br>
	
<% groups.each do |key, value|%>
	<center>
	<form method="get" action="/">
		<input type="button" name="button" class="button" value="<%= key %>"></center>
		</form>
	<center><table></center>
	<% value.each do |name,number|%>
		<tr>
			<td>
				<%= name %>
			</td>
			<td>
				<%= number %>
			</td>
		</tr>
	<% end %>

		

	</table>

	</br>
		
		<%end%>
	
	</div>



		

</body>
