<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="addnew">
		<center>Start making your own groups!</center>
		<form method="post" action="/">
			<fieldset>
				<ul>
				<label> 
					<input type="text" name="setname" placeholder="Username" required>
				</label></ul>
				<ul>
				<label>
					<input type="text" name="vids" placeholder="Number (e.g. 123456789)" required>
				</label></ul>
				<ul>
				<label> 
					<input type="text" name="description" placeholder="Group Name" required>
				</label></ul>
				<ul>
				<label>
					<input type="submit" name="button" class="buttonß" value="Submit"></label></ul>
			</fieldset>
		</form>
	</div>
</body>
