<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<h1>
		<center><%= groupname %></center>
	</h1>

	<h2>
		<%= groups[groupname] %>
	</h2>









</body>
	






</html>