* {
	text-align: center;
	vertical-align: center;
	margin:auto;
	font-family: 'Arimo', sans-serif;
}

html, body {
	background: url("http://www.questionsonislam.com/sites/default/files/blue_clouds.jpg");
	height: 100%;
	width: 100%;
	position: fixed;
}

