* {
	text-align: center;
	vertical-align: center;
	margin:auto;
}

body, html {
	height: 100%;
	width: 100%;
	position: fixed;
}

#big_div {
	height:100%;
	padding:0px;
}

.pure-u-1-5 {
	position: relative;
	height: 100%
}



#message {
	height:680px;
	overflow-y:scroll;
}

