* {
	text-align: center;
	vertical-align: center;
	margin:auto;
}

body, html {
	height: 100%;
	width: 100%
	position: fixed;
}

table {
}

.button {
	margin:10px;
}

#navbar {
	

}

#addnew {
}


.pure-u-1-2 {
	position: relative;
	height: 100%
	vertical-align: center;
}



#grouplist {
	overflow-y:scroll;
	height:680px;	

}


.pure-g {
	height: 100%;
	

}