* {
	text-align: center;
	vertical-align: center;
	margin:auto;
}

body, html {
	height: 100%;
	width: 100%;
	position: fixed;
}

#navbar {
	margin:0px;
	padding:0px;
}

#logistics {
	height: 200px;
	padding:0px;
}

#big_div {
	height:100%;
	padding:0px;
}